<h2> <%= @recipe.title %> </h2>

<p> <%= @recipe.description %> </p>

<h2> instructions </h2>

<ul>
  <% @recipe.instructions.each do |i| %>
    <li>
      <%= i.phase %>
    </li>
  <% end %>
</ul>

<h2> ingredients </h2>

<ul>
  <% @recipe.ingredients.each do |i| %>
    <li>
      <%= i.component %>
    </li>
  <% end %>
</ul>

<%= link_to "Back", root_path %>
