<div class="column is-7 is-offset-3">
  <div class="card">
    <header class="card-header">
      <p class="card-header-title">
        <%= @recipe.title %>
      </p>
    </header>

    <div class="card-content">
      <div class="content">
        <p><%= @recipe.description %></p>
      </div>
    </div>
  </div>
</div>

<div class="column is-7 is-offset-3">
  <div class="card">
    <header class="card-header">
      <p class="card-header-title">
        Instructions
      </p>
    </header>

    <div class="card-content">
      <div class="content">
        <% @recipe.instructions.each do |i| %>
          <li>
            <%= i.phase %>
              <%= link_to edit_recipe_instruction_path(i.recipe, i) do %>
                <span class="icon is-small"><i class="fas fa-edit"></i></span>
              <% end %>
              <%= link_to recipe_instruction_path(i.recipe, i),
                method: :delete,
                data: { confirm: 'Are you sure you want to delete this recipe instruction' } do %>
                <span class="icon is-small"><i class="fas fa-trash-alt"></i></span>
              <% end %>
          </li>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="column is-7 is-offset-3">
  <div class="card">
    <header class="card-header">
      <p class="card-header-title">
        Ingredients
      </p>
    </header>

    <div class="card-content">
      <div class="content">
        <% @recipe.ingredients.each do |i| %>
          <li>
            <%= i.component %>
            <%= link_to edit_recipe_ingredient_path(i.recipe, i) do %>
              <span class="icon is-small"><i class="fas fa-edit"></i></span>
            <% end %>
            <%= link_to recipe_ingredient_path(i.recipe, i),
              method: :delete,
              data: { confirm: 'Are you sure you want to delete this recipe ingredient' } do %>
              <span class="icon is-small"><i class="fas fa-trash-alt"></i></span>
            <% end %>
          </li>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="column is-7 is-offset-3">
  <footer class="card-footer">
    <%= link_to "Back", root_path(@recipe), class: "card-footer-item" %>
    <%= link_to "Edit", edit_recipe_path(@recipe), class: "card-footer-item" %>
    <%= link_to "Delete", recipe_path(@recipe), method: :delete,
      data: { confirm: "Are you sure you want to delete this recipe?" },
      class: "card-footer-item" %>
  </footer>
</div>
